body {
    background-color: #D4D9DD;
}

.navbar {
    background-color: #424246 !important;
}

nav a {
    color: #F1F1F1 !important;
}

.nav-item {
    border: 2px solid transparent !important;
}

.nav-item:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #F1F1F1 !important;
    transition: 0.5s ease !important;
    transform: scale(1.1) !important;
}

nav {
    font-family: 'Orbitron', sans-serif;
}

form {
    background-color: #BBB6B6 !important;
    padding: 10px;
    margin-left: 2px;
    border: 1px solid black;
}

h5 {
    color: #212121 !important;
    font-size: x-large;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    color: #F1F1F1 !important;
    background-color: #424246 !important;
}

.copyright {
    left: 0 !important;
    text-align: left !important;
    padding-top: 8px;
    padding-left: -15px;
}

/*FOOTER SOCİAL ICONS*/
ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0 .1em;
}

/*social icons hover actions*/

.social-network a.icoTwitter:hover {
    background-color: #1DA1F2;;
}

.social-network a.icoLinkedin:hover {
    background-color: #2867B2;
}

.social-network a.icoMail:hover {
    background-color: #BBB6B6
}

.social-network a.icoGitHub:hover {
    background-color:  #BBB6B6;
}

.social-network a.icoGitHub:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoMail:hover i   {
    color: #fff;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F1F1F1;
}

@media only screen and (max-width: 600px) {
    .content {
        margin-bottom: 45px;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
    small {
        font-size: 12px;
    }
}