.nav-item {
    border: 2px solid transparent !important;
}

.nav-item:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #808000 !important;
    transition: 0.5s ease !important;
}

form {
    background-color: #DCDCDC !important;
    padding: 10px;
    margin-left: 2px;
    border: 1px solid black;
}

nav {
    font-family: 'Orbitron', sans-serif;
}

footer {
    font-family: 'Yellowtail', cursive;
}