body {
    background-color: #D4D9DD;
}

.navbar {
    background-color: #424246 !important;
}

nav a {
    color: #F1F1F1 !important;
}

.nav-item {
    border: 2px solid transparent !important;
}

.nav-item:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #F1F1F1 !important;
    transition: 0.5s ease !important;
    transform: scale(1.1) !important;
}

nav {
    font-family: 'Orbitron', sans-serif;
}

h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

section {
    padding-bottom: 30px;
    padding-right: 30px;
}

.portfolio:hover img {
    opacity: .25;
    transform: scale(1.1);
}

.portfolio:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    font-family: 'Yellowtail', cursive;
}

h4 {
    color: #212121;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-family: 'Yellowtail', cursive;
    color: #F1F1F1 !important;
    background-color: #424246 !important;
}