body {
    background-color: #D4D9DD;
}

.navbar {
    background-color: #424246 !important;
}

nav a {
    color: #F1F1F1 !important;
}

.nav-item {
    border: 2px solid transparent !important;
}

.nav-item:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #F1F1F1 !important;
    transition: 0.5s ease !important;
    transform: scale(1.1) !important;
}

nav {
    font-family: 'Orbitron', sans-serif;
}

.myCarousel {
    height: 650px;
    width: 800px;
    object-fit: scale-down;
}

.carousel-item {
    height: 500px;
    width: 100%;
    object-fit: scale-down;
}

h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

section {
    padding-bottom: 30px;
    padding-right: 30px;
}

.portfolio:hover img {
    opacity: .20;
    transform: scale(1.1);
}

.portfolio:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}

.layer {
    background-color: rgba(140, 140, 140, 1);
    margin-bottom: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    font-family: 'Yellowtail', cursive;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

h4, .insideText {
    color: #212121;
    text-align: center;
    position: relative;
    /* left: 12%; */
}

h4 {
    top: 10%;
}

.insideText {
    top: 12%;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    color: #F1F1F1 !important;
    background-color: #424246 !important;
}

/*FOOTER SOCİAL ICONS*/
ul.social-network {
    list-style: none;
    display: inline;
    /* margin-left: 0 !important; */
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 .1em;
  }
  
  /*social icons hover actions*/
  
  .social-network a.icoTwitter:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoMail:hover {
    background-color: #123C69;
  }
  
  .social-network a.icoGitHub:hover {
    background-color:  #007bb7;
  }

  .social-network a.icoGitHub:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoMail:hover i   {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }